#main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h1 {
  font-weight: 500;
  font-size: 48px;
}

#main p {
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0px;
  line-height: 1.5;
}

.wicked {
  transition: font-size 0.1s ease;
}
