#main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #e0e0e0;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  color: #4db6ac;
}

.prompt {
  opacity: 0;
  animation: appear 1s ease 0.4s forwards;
}

ul {
  padding-left: 20px;
  margin-top: 20px;
  list-style-type: circle;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
}

#main a {
  text-decoration: none;
  color: #4db6ac;
  font-weight: bold;
  transition: transform 0.3s ease;
}

#main a:hover {
  transform: translateX(20px);
}

.click-me-text {
  font-size: 1rem;
  color: #888;
  margin-left: 10px;
  font-style: italic;
}

.arrow {
  margin-left: 10px;
  font-size: 1.2rem;
  display: inline-block;
  color: #888;
  top: 0;
  animation: point 1s ease-in-out infinite;
}

#main #livelink {
  font-weight: 500;
  transform: none;
}

@keyframes point {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
