#project-list {
  display: flex;
  flex-direction: column;
  color: #e0e0e0;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
  color: #e0e0e0;
  transition: color 0.3s ease;
}

h2:hover {
  color: #4db6ac;
}

h2.selected {
  color: #4db6ac;
  font-size: 20px;
  transition: font-size 0.3s ease;
}
